:root {
  --font: Inconsolata, monospace;
  --white: #fff;
  --gray: #f1f1f1;
  --black: #000;
  --black-rgb: 0, 0, 0;
  --blue: #4a90e2;
  --aqua: #50e3c2;
  --green: #b8e986;
  --green-rgb: 0, 150, 0;
}
